body {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.top-header {
  position: fixed;
  background-color: #FFFFFF;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#logo, #name, #title, .navbar {
  display: inline-flex;
}

#logo_name {
  float: left;
  margin-left: 48px;
  margin-top: 48px;
  width: 250px;
}

#logo {
  float: left;
}

#name_title {
  float: right;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  float: left;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

#title {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  float: left;
  clear: left;
}

.navbar {
  margin-top: 48px;
  margin-right: 48px;
  float: right;
}

.navbar a {
  color: #979797;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.navbar a:hover {
  color: #333333;
}

.navbar a.active:hover {
  color: #333333;
}

.navbar a.active {
  font-weight: bold;
  color: #333333;
}

#bio-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #b8e2f2;
  letter-spacing: 0.3em;
}

div#bio {
  display: flex;
  margin-top: 10%;
  margin-left: 64px;
  margin-right: 64px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-right: 24px;
  line-height: 2;
}

div#bio p strong {
  color: #ef434d;
}

div#bio img {
  transform: rotate(90deg);
  margin-top: 96px;
  margin-bottom: 96px;
  /* margin-right: 96px; */
  height: 448px;

  position: relative;
  top: 11%;
}

div#bio a {
  color: #333333;
}

button {
  background-color: #ffffff;
  border-color: #333333;
  border-width: medium;
  border-radius: 25px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #ef434d;
  border-color: #ef434d;
}

button a:hover {
  color: #ffffff;
}

button#resume a {
  text-decoration: none;
}

#guilty {
  margin-left: 152px;
}

#animations {
  display: flex;
}

.caption {
  margin-right: 64px;
}

.bottomnav {
  text-align: center;
  margin-top: 64px;
}

.bottomnav a {
  display: inline-block;
  padding: 14px 16px;
}

.bottomnav a:hover {
  opacity: 0.5;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 64px;
}
