body {
  display: block;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin: 24px;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

#title {
  padding-top: 32px;
  padding-left: 32px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.navbar {
  margin-top: 32px;
  margin-right: 32px;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin-left: 256px;
}

.title p {
  font-family: 'Roboto', sans-serif;
}

#banner {
  text-align: center;
}

#banner img {
  display: inline-block;
}

#blurb {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 64px;
  color: #C3BEF7;
}

hr {
  align: center;
  size: 4px;
  width: 700px;
  margin-top: 64px;
  margin-bottom: 64px;
}

strong {
  color: #C3BEF7;
  font-family: 'Montserrat', sans-serif;
}

#overview {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  text-align: center;
}

.body {
  display: inline-block;
}

.body h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #A038FF;
}

.body h2 {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.body h4 {
  font-family: 'Montserrat', sans-serif;
  color: #C3BEF7;
}

#approach h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

#overview ul {
  line-height: 2;
  font-size: 18px;
  text-align: left;
}

#overview a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#overview a:hover {
  color: #979797;
}

#myrole-pic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 64px;
}

.casestudy {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 352px;
  margin-right: 352px;
  margin-top: 64px;
  line-height: 1.5;
  font-size: 18px;
}

#userflow, #crazy8, #solsketch, #story, #proto-screens {
  text-align: center;
}

#userflow img, #crazy8 img, #solsketch img, #story img, #proto-screens img {
  display: inline-block;
}

#userflow-caption {
  font-size: 14px;
}

.screen {
  display: inline-block;
  width: 350;
  margin-top: 8px;
  margin-bottom: 8px;
}

.caption {
  font-size: 12px;
  color: #333333;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b8e2f2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  margin-bottom: 104px;
  margin-right: 128px;
}

#myBtn:hover {
  background-color: #EF434D;
}

.bottomnav {
  text-align: center;
  margin-top: 64px;
}

.bottomnav a {
  color: #979797;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.bottomnav a:hover {
  color: #333333;
}

.bottomnav a.active {
  color: #333333;
  text-decoration: underline;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 64px;
}
