body {
  display: block;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin-left: 2.3vw;
  margin-top: 2.3vw;
}

.logo-responsive {
  width: 3%;
  height: auto;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 4vw;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

small {
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-top: 3vw;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin-left: 18vw;
}

.title p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
}

.title h1 {
  font-size: 2.3vw;
}

#banner {
  text-align: center;
}

#banner img {
  display: inline-block;
}

.banner-responsive {
  width: 63%;
  height: auto;
}

#blurb {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4.6vw;
  color: #C3BEF7;
  font-size: 1.3vw;
}

hr {
  align: center;
  size: 4px;
  width: 50%;
  margin-top: 4.6vw;
  margin-bottom: 4.6vw;
}

strong {
  color: #C3BEF7;
  font-family: 'Montserrat', sans-serif;
}

#overview {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  text-align: center;
}

#overview .body ul {
  line-height: 2;
  font-size: 1.3vw;
  text-align: left;
}

.body {
  display: inline-block;
}

.body h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #A038FF;
  font-size: 2.3vw;
}

.body h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 2vw;
}

#research h1, #brainstorm h1, #storyboard h1, #prototype h1, #usertest h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #A038FF;
  font-size: 2.3vw;
}

#usertest h2 {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 2vw;
}

#research h4, #brainstorm h4, #usertest h4 {
  font-family: 'Montserrat', sans-serif;
  color: #C3BEF7;
  font-size: 1.3vw;
}

#approach h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 2.3vw;
}

#overview a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#overview a:hover {
  color: #979797;
}

#myrole-pic img {
  border-radius: 50%;
  float: left;
  margin-right: 4.6vw;
}

.role-responsive {
  width: 30%;
  height: auto;
}

.casestudy {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4.6vw;
  line-height: 1.5;
  font-size: 1.3vw;
}

#userflow, #crazy8, #solsketch, #story, #proto-screens {
  text-align: center;
}

#userflow img, #crazy8 img, #solsketch img, #story img, #proto-screens img {
  display: inline-block;
}

#userflow-caption {
  font-size: 1vw;
}

.userflow-responsive, .brainstorm-responsive, .solsketch-responsive, .storyboard-responsive, .proto-responsive {
  width: 100%;
  height: auto;
}

.screen {
  display: inline-block;
  width: 350;
  margin-top: 8px;
  margin-bottom: 8px;
}

.caption {
  font-size: 1vw;
  color: #333333;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1vw; /* Place the button at the bottom of the page */
  right: 2vw; /* Place the button 2vw from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b8e2f2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.2vw; /* Increase font size */
  margin-bottom: 2.3vw;
  margin-right: 2.3vw;
}

#myBtn:hover {
  background-color: #EF434D;
}

.bottomnav {
  text-align: center;
  margin-top: 2.3vw;
}

.bottomnav a {
  color: #979797;
  display: inline-block;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vw;
}

.bottomnav a:hover {
  color: #333333;
}

.bottomnav a.active {
  color: #333333;
  text-decoration: underline;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  margin-bottom: 2.3vw;
}
