body {
  display: block;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin: 24px;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

.navbar {
  margin-top: 32px;
  margin-right: 32px;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 256px;
}

#banner {
  text-align: center;
}

#banner img {
  display: inline-block;
}

#overview {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 256px;
  margin-top: 64px;
}

#overview ul {
  line-height: 1.5;
  font-size: 18px;
}

#overview a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#overview a:hover {
  color: #979797;
}

.casestudy {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 256px;
  margin-right: 256px;
  margin-top: 64px;
  line-height: 1.5;
  font-size: 18px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b8e2f2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  margin-bottom: 104px;
  margin-right: 128px;
}

#myBtn:hover {
  background-color: #EF434D;
}

.bottomnav {
  text-align: center;
  margin-top: 64px;
}

.bottomnav a {
  color: #979797;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.bottomnav a:hover {
  color: #333333;
}

.bottomnav a.active {
  color: #333333;
  text-decoration: underline;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 64px;
}
