body {
  display: block;
}

.top-header {
  position: fixed;
  background-color: #FFFFFF;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 100;
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin: 24px;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

#title {
  padding-top: 32px;
  padding-left: 32px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.navbar {
  margin-top: 32px;
  margin-right: 32px;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #b8e2f2;
  margin-left: 12vw;
  margin-top: 144px;
  letter-spacing: 0.3em;
  margin-bottom: 4vw;
}

.title-caption {
  color: #aaaaaa;
}

#banner {
  text-align: center;
}

#banner img {
  display: inline-block;
}

.banner-responsive {
  width: 75%;
  height: auto;
}

.igstoryq-responsive {
  width: 20%;
  height: auto;
}

.userflow-responsive {
  width: 75%;
  height: auto;
}

.ideation-responsive {
  width: 50%;
  height: auto;
}

.solution-responsive {
  width: 75%;
  height: auto;
}

/* iframe {
  width: 100%;
  height: auto;
} */

p, ul, ol {
  font-family: 'Montserrat', sans-serif;
  margin-left: 12vw;
  margin-right: 12vw;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #aaaaaa;
  letter-spacing: 0.3em;
  text-align: left;
  margin-left: 12vw;
  margin-right: 12vw;
}

hr {
  align: center;
  size: 4px;
  width: 50%;
  margin-top: 4.6vw;
  margin-bottom: 4.6vw;
}

strong {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.caption {
  font-size: 1vw;
  color: #AAAAAA;
  font-family: 'Montserrat', sans-serif;
  margin-left: 12vw;
  margin-right: 12vw;
}

#igstoryq, #userflow-img, #ideation-img, #solution-img, #prototype-video {
  text-align: center;
}

#igstoryq img, #userflow-img img, #ideation-img img, #solution-img img, iframe {
  display: inline-block;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1vw; /* Place the button at the bottom of the page */
  right: 2vw; /* Place the button 2vw from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b8e2f2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.2vw; /* Increase font size */
  margin-bottom: 2.3vw;
  margin-right: 2.3vw;
}

#myBtn:hover {
  background-color: #EF434D;
}

.bottomnav {
  text-align: center;
  margin-top: 2.3vw;
}

.bottomnav a {
  color: #979797;
  display: inline-block;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vw;
}

.bottomnav a:hover {
  color: #333333;
}

.bottomnav a.active {
  color: #333333;
  text-decoration: underline;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  margin-bottom: 2.3vw;
}

@media only screen and (max-width: 375px) {

  .top-header {
    float: left;
    width: 375px;
  }

  #logo {
    margin: 8px;
  }

  #logo img {
    width: 12px;
    height: auto;
  }

  #name {
    font-size: 24px;
  }

  .title {
    margin-left: 8px;
  }

  .navbar {
    margin-top: 0px;
    float: none;
  }

  .navbar a {
    font-size: 16px;
    padding: 12px 30px;
  }

  h2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .banner-responsive {
    width: 100%;
    height: auto;
  }

  .bottomnav a {
    padding: 4px;
    font-size: 12px;
  }

  #myBtn {
    bottom: 28px; /* Place the button at the bottom of the page */
    padding: 4px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
    margin-bottom: 12px;
    margin-right: 12px;
  }

  .sig {
    font-size: 8px;
  }
}
