body {
  display: block;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin-left: 2.3vw;
  margin-top: 2.3vw;
}

.logo-responsive {
  width: 3%;
  height: auto;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 4vw;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

small {
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-top: 3vw;
  margin-right: 2.3vw;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8vw;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin-left: 18vw;
}

.title p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
}

.title h1 {
  font-size: 2.3vw;
}

#banner {
  text-align: center;
}

#banner img {
  display: inline-block;
}

.banner-responsive {
  width: 63%;
  height: auto;
}

#blurb {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4.6vw;
  color: #6F8CFF;
  font-size: 1.3vw;
}

hr {
  align: center;
  size: 4px;
  width: 50%;
  margin-top: 4.6vw;
  margin-bottom: 4.6vw;
}

#overview {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  text-align: center;
}

#overview-body {
  display: inline-block;
}

#overview h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3vw;
}

#overview ul {
  line-height: 2;
  font-size: 1.3vw;
  text-align: left;
}

#overview a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#overview a:hover {
  color: #979797;
}

.casestudy {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4.6vw;
  line-height: 1.5;
  font-size: 1.3vw;
}

#intro {
  text-align: center;
}

#intro-body {
  display: inline-block;
  text-align: left;
}

#intro h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FF8B6F;
  font-size: 2.3vw;
}

#intro i strong {
  font-family: 'Montserrat', sans-serif;
  color: #6F8CFF;
}

#intro a {
  color: #6F8CFF;
}

#stat {
  text-align: center;
}

#stat img {
  display: inline-block;
}

.stat-responsive {
  width: 75%;
  height: auto;
}

#problem h1, #solution h1, #myrole h1, #research h1, #infoarch h1, #wireframe h1, #usertest h1, #prototype h1, #iterate h1, #finalwords h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FF8B6F;
  font-size: 2.3vw;
}

#problem strong, #myrole strong, #research strong, #infoarch strong, #wireframe strong, .text strong, #finalwords strong {
  color: #6F8CFF;
  font-family: 'Montserrat', sans-serif;
}

#myrole {
  text-align: center;
}

#role-body {
  display: inline-block;
  text-align: left;
}

.role-responsive {
  width: 30%;
  height: auto;
}

#myrole-pic img {
  border-radius: 50%;
  float: left;
  margin-right: 4.6vw;
}

#research h2, #infoarch h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #6F8CFF;
  font-size: 2vw;
}

#infoarch h3 {
  text-align: left;
  float: left;
  font-family: 'Montserrat', sans-serif;
  color: #FF8B6F;
  width: 15vw;
  font-size: 1.5vw;
}

#usertest h3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #6F8CFF;
  font-size: 1.5vw;
}

#userflow, #wireflow, #findings {
  text-align: center;
}

#userflow img, #wireflow img, #findings img {
  display: inline-block;
}

.empathy, .persona {
  margin-top: 4.6vw;
  margin-bottom: 4.6vw;
}

.empathy {
  height: 30vw;
}

.persona {
  height: 25vw;
}

.empathy img {
  float: left;
}

.empathy-responsive {
  width: 40%;
  height: auto;
}

.empathy-text {
  text-align: left;
  float: right;
  width: 50%;
}

.persona img {
  float: right;
}

.persona-responsive {
  width: 60%;
  height: auto;
}

.persona-text {
  text-align: left;
  float: left;
  width: 30%;
}

#findings img {
  margin-top: 1.6vw;
}

.sketch {
  display: inline;
  margin-left: 1.6vw;
}

.sketch-responsive {
  width: 30%;
  height: auto;
}

.userflow-responsive {
  width: 60%;
  height: auto;
}

.wireflow-responsive {
  width: 100%;
  height: auto;
}

.lofi-responsive {
  width: 100%;
  height: auto;
}

.progress-responsive {
  width: 50%;
  height: auto;
}

.pact-responsive {
  width: 18%;
  height: auto;
}

.nav-responsive1 {
  width: 40%;
  height: auto;
}

.nav-responsive2 {
  width: 25%;
  height: auto;
}

.nav-responsive3 {
  width: 25%;
  height: auto;
}

.onboard-responsive1 {
  width: 25%;
  height: auto;
}

.onboard-responsive2 {
  width: 18%;
  height: auto;
}

.search-responsive {
  width: 25%;
  height: auto;
}

.nudge-responsive1 {
  width: 25%;
  height: auto;
}

.nudge-responsive2 {
  width: 35%;
  height: auto;
}

.mult-responsive {
  width: 25%;
  height: auto;
}

.proto-responsive {
  width: 100%;
  height: auto;
}

.findings-responsive {
  width: 100%;
  height: auto;
}

.prototype-screens, .lofi-screens {
  text-align: center;
}

.row {
  display: inline-block;
}

.screen {
  display: inline-block;
}

.sketches {
  text-align: left;
  margin-bottom: 2.6vw;
}

.sketch-row {
  display: inline-block;
  margin-top: 2.6vw;
}

#userflow {
  height: 40vw;
}

#userflow p {
  text-align: left;
  float: left;
  width: 16vw;
}

#userflow img {
  float: right;
}

.progress-iters, .pact-screens, .onboard-screens, .nav-iters, .search-screens, .nudge-iters, .mult-screens {
  text-align: center;
}

.progress-row, .pact-row, .onboard-row, .nav-row, .search-row, .nudge-row, .mult-row {
  display: inline-block;
}

.progress img, .pact img, .nav img, .nav2 img, .search img, .nudge img, .multpact img {
  margin: 1vw;
}

.text {
  text-align: left;
}

.container {
  margin-top: 2.3vw;
}

.pact, .nav2, .onboard, .search, .nudge, .multpact, .lofi {
  display: inline;
}

.lofi {
  width: 30%;
  float: left;
  margin: 0.5vw;
}

.screen {
  width: 30%;
  float: left;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
}

.lofi-caption {
  width: 15vw;
  font-size: 0.75vw;
  color: #333333;
}

.proto-caption {
  width: 15vw;
  font-size: 0.75vw;
  color: #333333;
}

#embed-proto {
  text-align: center;
}

iframe {
  display: inline-block;
}

#embed-proto p {
  color: #6F8CFF;
  font-family: 'Montserrat', sans-serif;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1vw; /* Place the button at the bottom of the page */
  right: 2vw; /* Place the button 2vw from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b8e2f2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1vw; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.2vw; /* Increase font size */
  margin-bottom: 2.3vw;
  margin-right: 2.3vw;
}

#myBtn:hover {
  background-color: #EF434D;
}

.bottomnav {
  text-align: center;
  margin-top: 2.3vw;
}

.bottomnav a {
  color: #979797;
  display: inline-block;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vw;
}

.bottomnav a:hover {
  color: #333333;
}

.bottomnav a.active {
  color: #333333;
  text-decoration: underline;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  margin-bottom: 2.3vw;
}
