body {
  display: block;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin: 24px;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

.navbar {
  margin-top: 32px;
  margin-right: 32px;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin-left: 256px;
}

.title p {
  font-family: 'Roboto', sans-serif;
}

#banner {
  text-align: center;
}

#banner img {
  display: inline-block;
}

#blurb {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 64px;
  color: #6F8CFF;
}

hr {
  align: center;
  size: 4px;
  width: 700px;
  margin-top: 64px;
  margin-bottom: 64px;
}

#overview {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  text-align: center;
}

#overview-body {
  display: inline-block;
}

#overview h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#overview ul {
  line-height: 2;
  font-size: 18px;
  text-align: left;
}

#overview a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#overview a:hover {
  color: #979797;
}

.casestudy {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin-left: 352px;
  margin-right: 352px;
  margin-top: 64px;
  line-height: 1.5;
  font-size: 18px;
}

#intro {
  text-align: center;
}

#intro-body {
  display: inline-block;
  text-align: left;
}

#intro h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FF8B6F;
}

#intro i strong {
  font-family: 'Montserrat', sans-serif;
  color: #6F8CFF;
}

#intro a {
  color: #6F8CFF;
}

#stat {
  text-align: center;
}

#stat img {
  display: inline-block;
}

#problem h1, #solution h1, #myrole h1, #research h1, #infoarch h1, #wireframe h1, #usertest h1, #prototype h1, #iterate h1, #finalwords h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FF8B6F;
}

#problem strong, #myrole strong, #research strong, #infoarch strong, #wireframe strong {
  color: #6F8CFF;
  font-family: 'Montserrat', sans-serif;
}

#myrole {
  text-align: center;
}

#role-body {
  display: inline-block;
  width: 550px;
  text-align: left;
}

#myrole-pic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 64px;
}

#research h2, #infoarch h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #6F8CFF;
}

#infoarch h3 {
  text-align: left;
  float: left;
  font-family: 'Montserrat', sans-serif;
  color: #FF8B6F;
  width: 175px;
}

#usertest h3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #6F8CFF;
}

#userflow, #wireflow, #findings {
  text-align: center;
}

#userflow img, #wireflow img, #findings img {
  display: inline-block;
}

.empathy, .persona {
  width: 700px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.empathy {
  height: 400px;
}

.persona {
  height: 310px;
}

.empathy img {
  float: left;
}

.empathy-text {
  text-align: left;
  float: right;
  width: 350px;
}

.persona img {
  float: right;
}

.persona-text {
  text-align: left;
  float: left;
  width: 250px;
}

#findings img {
  margin-top: 32px;
}

.sketch {
  display: inline;
  margin-left: 32px;
}

.prototype-screens, .lofi-screens {
  text-align: center;
}

.row {
  display: inline-block;
}

.screen {
  display: inline-block;
}

.sketches {
  text-align: left;
  margin-bottom: 64px;
}

.sketch-row {
  display: inline-block;
  margin-top: 64px;
}

#userflow {
  height: 520px;
}

#userflow p {
  text-align: left;
  float: left;
  width: 250px;
}

#userflow img {
  float: right;
}

.progress-iters, .pact-screens, .onboard-screens, .nav-iters, .search-screens, .nudge-iters, .mult-screens {
  text-align: center;
}

.progress-row, .pact-row, .onboard-row, .nav-row, .search-row, .nudge-row, .mult-row {
  display: inline-block;
}

.progress img, .pact img, .nav img, .nav2 img, .search img, .nudge img, .multpact img {
  margin: 16px;
}

.container {
  margin-top: 64px;
}

.pact, .nav2, .onboard, .search, .nudge, .multpact, .lofi {
  display: inline;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b8e2f2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  margin-bottom: 104px;
  margin-right: 64px;
}

#myBtn:hover {
  background-color: #EF434D;
}

.bottomnav {
  text-align: center;
  margin-top: 64px;
}

.bottomnav a {
  color: #979797;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.bottomnav a:hover {
  color: #333333;
}

.bottomnav a.active {
  color: #333333;
  text-decoration: underline;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 64px;
}
