body {
  display: block;
}

.top-header {
  position: fixed;
  background-color: #FFFFFF;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#logo, #name, #title, .navbar {
  display: inline-flex;
}

#logo_name {
  float: left;
  margin-left: 48px;
  margin-top: 48px;
  width: 250px;
}

#logo {
  float: left;
}

#name_title {
  float: right;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  float: left;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

#title {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  float: left;
  clear: left;
}

.navbar {
  margin-top: 48px;
  margin-right: 48px;
  float: right;
}

.navbar a {
  color: #979797;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.navbar a:hover {
  color: #333333;
}

.navbar a.active:hover {
  color: #333333;
}

.navbar a.active {
  font-weight: bold;
  color: #333333;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 64px;
}

.designs {
  text-align: center;
  margin-top: 10%;
}

.designs img {
  display: inline-block;
  margin: 32px;
}
