body {
  display: block;
}

.top-header {
  position: fixed;
  background-color: #FFFFFF;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 100;
}

#logo, #name, .navbar {
  display: inline-flex;
}

#logo {
  margin: 24px;
}

#name {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
}

#name a:link, a:visited {
  background-color: white;
  color: #333333;
  text-decoration: none;
}

#name a:hover {
  color: #b8e2f2;
}

#title {
  padding-top: 32px;
  padding-left: 32px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.navbar {
  margin-top: 32px;
  margin-right: 32px;
  float: right;
}

.navbar a {
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.navbar a:hover {
  color: #979797;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

button {
  background-color: #333333;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #ef434d;
}

#projects {
  text-align: center;
  display: inline-block;
  margin-top: 45%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

#projects h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

.col {
  display: inline-block;
}

.item img {
  width: 550px;
  margin:16px;
  display: block;
  /* height: 334px; */
  /* border-radius: 25px; */
}

.item {
  position: relative;
  /* width: 50%; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 550px;
  /* height: 334px; */
  margin-left: 16px;
  opacity: 0;
  transition: .5s ease;
  background-color: #333333;
  /* border-radius: 25px; */
}

.item:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.sig {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 64px;
}


/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:600); */

.about-me {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.about-me {
  position: relative;
  height: 40px;
  color: black;
  margin-left: 128px;
  margin-right: 64px;
  margin-bottom: 64px;
  margin-top: 144px;
  display: flex;
}

.about-me p {
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}

.about-me img {
  border-radius: 50%;
}

.about-me #left {
  width: 50%;
}

.about-me #left {
  position: relative;
  display: inline-block;
}

.about-me #left .top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.about-me #left:hover .top {
  display: inline;
}

.about-me #right {
  display: inline-block;
  vertical-align: top;
  margin-left: 64px;
  margin-top: 128px;
}

#word {
  /* position: absolute; */
  /* width: 220px; */
  opacity: 1.0;
  color: #ef434d;

  /* -webkit-animation: smooth 3s ease-in;
    -moz-animation: smooth 3s ease-in;
    -o-animation: smooth 3s ease-in;
    -ms-animation: smooth 3s ease-in;
    animation: smooth 3s ease-in; */
}

/* @-webkit-keyframes smooth {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
} */

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

@media only screen and (max-width: 375px) {

  .top-header {
    float: left;
    width: 375px;
  }

  #logo {
    margin: 8px;
  }

  #logo img {
    width: 12px;
    height: auto;
  }

  #name {
    font-size: 24px;
  }

  #title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 12px;
  }

  .navbar {
    margin-top: 0px;
    float: none;
  }

  .navbar a {
    font-size: 16px;
    padding: 12px 30px;
  }

  .about-me {
    font-size: 24px;
  }

  .about-me {
    width: 375px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    margin-top: 96px;
  }

  .about-me img {
    width: 125px;
  }

  .about-me #right {
    margin-left: 4px;
    margin-right: 36px;
    margin-top: 8px;
    font-size: 18px;
    width: 200px;
  }

  .about-me #right #word {
    font-size: 18px;
  }

  .about-me p {
    font-size: 12px;
  }

  button {
    display: none;
  }

  .item img {
    width: 350px;
    margin: 8px;
  }
}
